<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcmc.mapper.NoticeMapper">

	<resultMap type="com.dcmc.domain.NoticeDAO" id="result">
		<result property="bno" column="bno" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="showYn" column="show_yn" />
		<result property="writer" column="writer" />
		<result property="registerDate" column="register_date" javaType="java.util.Date" />
	</resultMap>

	<select id="getList" resultMap="result">
		select /*+ INDEX_DESC(notice XPK공지사항) */ *
		from notice
		</select>
		
	<select id="getListWithCri" resultMap="result">
		<![CDATA[
		select bno, title, content, writer, register_date
		from (
		select /*+ INDEX_DESC(notice XPK공지사항) */ rownum rn, bno, title, content, show_yn, writer, register_date
		from notice where show_yn='y' AND rownum <= #{pageNum} * #{amount}
		)
		where rn > (#{pageNum} - 1) * #{amount} 
		]]>
		</select>

	<insert id="insert">
		insert into notice (bno, title, content, show_yn, writer, register_date)
		values (seq_notice.nextval , #{title}, #{content}, #{showYn},
		#{writer}, SYSDATE )
	</insert>

	<select id="read" resultMap="result">
		select bno, title, content, show_yn, writer, register_date from notice where bno = #{bno}
	</select>

	<update id="update">
		update notice
		set title = #{title},
		content = #{content},
		writer = #{writer},
		where
		bno = #{bno}
	</update>

	<delete id="delete">
		update notice
		set show_yn='n'
		where bno=#{bno}
	</delete>

</mapper>
