@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap')
	;

body {
	font-family: 'Noto Sans KR', sans-serif;
}

.navbar a {
	font-family: 'Noto Sans KR', sans-serif;
	color: #ffffff;
}

.navbar a:hover {
	color: #ffffff;
}

#header {
	background-color: rgb(230, 40, 40);
}

#navbar {
	width: 100%;
	background-color: rgb(230, 40, 40);
}

.logo>img {
	height: 90px;
}

.depth01 {
	margin: 0 auto;
}

.depth01 a:hover {
	text-decoration: none;
	color: #bbbbbb;
}

.depth01>li {
	min-width: 280px;
	margin: 0px auto;
	font-size: 18px;
}

.depth01>li>a {
	line-height: 90px;
}


.depth02 {
	display: none;
	list-style: none;
}

.depth02>li {
	padding : 10px 0;
	font-size: 15px;
	padding: 10px 0;
}