@charset "UTF-8";

#wrapper {
	width: 100%;
	margin-top:100px;
	font-family: 'Noto Sans KR', sans-serif;
}

#subtitle {
	color: white;
	text-align: center;
	padding: 75px 0;
	font-size: 30px;
	background-image: url('/resources/img/notice-background.jpg');
	background-position: center;
}

.table {
	width: 1200px;
	margin: 20px auto;
}

thead>tr>th:nth-child(1) {
	width: 15%;
}

thead>tr>th:nth-child(2) {
	width: 50%;
}

thead>tr>th:nth-child(3) {
	width: 15%;
}

thead>tr>th:nth-child(4) {
	width: 20%;
}

.pagination-center {
	margin : 0 auto;
	text-align: center;
	width: 300px;
}
#btns {
	width: 1200px;
    margin: 20px auto;
    text-align: right;
}
